In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import ndcg_score
import matplotlib.pyplot as plt

In [2]:
# We can mess around with the data here (pre-processing or feature engineering)
# Then using our NDCG score, we can determine whats the best method (Ex. does OHE the year improve score?)

data = pd.read_csv('data.csv')
data.head()

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo
0,0.0594,1921,0.982,"['Sergei Rachmaninoff', 'James Levine', 'Berli...",0.279,831667,0.211,0,4BJqT0PrAfrxzMOxytFOIz,0.878000,10,0.665,-20.096,1,"Piano Concerto No. 3 in D Minor, Op. 30: III. ...",4,1921,0.0366,80.954
1,0.9630,1921,0.732,['Dennis Day'],0.819,180533,0.341,0,7xPhfUan2yNtyFG0cUWkt8,0.000000,7,0.160,-12.441,1,Clancy Lowered the Boom,5,1921,0.4150,60.936
2,0.0394,1921,0.961,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.328,500062,0.166,0,1o6I8BglA6ylDMrIELygv1,0.913000,3,0.101,-14.850,1,Gati Bali,5,1921,0.0339,110.339
3,0.1650,1921,0.967,['Frank Parker'],0.275,210000,0.309,0,3ftBPsC5vPBKxYSee08FDH,0.000028,5,0.381,-9.316,1,Danny Boy,3,1921,0.0354,100.109
4,0.2530,1921,0.957,['Phil Regan'],0.418,166693,0.193,0,4d6HGyGT8e121BsdKmw9v6,0.000002,3,0.229,-10.096,1,When Irish Eyes Are Smiling,2,1921,0.0380,101.665

## NDCG Test Items:

In [3]:
def calculate_avg_ndcg(recommended_sim_list, ideal_score_list):
    
    total_ndcg_score = 0
    i = 0
    
    for recommended_sim_songs in recommended_sim_list:
        scores = np.asarray([recommended_sim_songs['true_relevence']])
        ideal_scores = np.asarray([ideal_score_list[i]])
        
        total_ndcg_score += ndcg_score(ideal_scores, scores)
        i += 1
    
    avg_ndcg_score = total_ndcg_score/i
    
    return avg_ndcg_score

### Test Data 1: Input Song is Street Lights

In [41]:
# Test Data 1 - Input Song is Street Lights by Kanye West

inputSong1 = data.loc[data['id'] == "6j8gTlbhj9KJSeypNcNAS9"]
inputSong1 = inputSong1[['duration_ms', 'artists', 'name']]

# The "database" that the System will choose from
# Intentionally choosing 5 songs that are "similarish" to the input song

ModelPlaylist1 = data.loc[data['id'].isin(["6j8gTlbhj9KJSeypNcNAS9", 
                                          "7Cu2COdH93MnuireuKNiS3", 
                                          "02LAK7qT1wya0klSeNO96f", 
                                          "4jQqM4NI79HEcWHUJb8Hvf", 
                                          "4cAgkb0ifwn0FSHGXnr4F6"])]

ModelPlaylist1 = ModelPlaylist1[['duration_ms', 'artists', 'name']]
ModelPlaylist1['true_relevence'] = [1,3,4,0,2] # Higher score means more relevence

ModelPlaylist1

       duration_ms            artists           name  true_relevence
17048       243440     ['Kanye West']       I Wonder               1
18725       246972  ['Daniel Caesar']      Streetcar               3
36134       189907     ['Kanye West']  Street Lights               4
37189       256093     ['Kanye West']     New Slaves               0
54820       274360     ['Kanye West']        RoboCop               2

### Test Data 2: Input Song is Ultralight Beam

In [42]:
# Test Data 2 - Input Song is Ultralight Beam by Kanye West

inputSong2 = data.loc[data['id'] == "1eQBEelI2NCy7AUTerX0KS"]
inputSong2 = inputSong2[['duration_ms', 'artists', 'name']]

# The "database" that the System will choose from
ModelPlaylist2 = data.loc[data['id'].isin(["1eQBEelI2NCy7AUTerX0KS",
                                           "3ZLyt2ndLFBh148XRYjYYZ", 
                                           "0oPOuDmmkVp3h6puekhs6P", 
                                           "2kH3RZN9KdGBj1c1jL3GjO", 
                                           "722tgOgdIbNe3BEyLnejw4", 
                                           "4cAgkb0ifwn0FSHGXnr4F6"])]

ModelPlaylist2 = ModelPlaylist2[['duration_ms', 'artists', 'name']]
ModelPlaylist2['true_relevence'] = [0,4,0,3,3,2] # Higher score means more relevence

ModelPlaylist2

,duration_ms,artists,name,true_relevence
18255,188013,['Kanye West'],Black Skinhead,0
18863,320680,['Kanye West'],Ultralight Beam,4
37189,256093,['Kanye West'],New Slaves,0
56506,203794,"['Chance the Rapper', 'Kanye West', ""Chicago C...",All We Got (feat. Kanye West & Chicago Childre...,3
124601,213878,"['Kanye West', 'Clipse', 'Kenny G']",Use This Gospel,3
152590,193733,['Kanye West'],Jesus Walks,2

### Test Data 3: Input Song is Diles

In [43]:
# Test Data 3 - Input Song is diles

inputSong3 = data.loc[data['id'] == "6C1RD7YQVvt3YQj0CmuTeu"]
inputSong3 = inputSong3[['duration_ms', 'artists', 'name']]

# The "database" that the System will choose from
ModelPlaylist3 = data.loc[data['id'].isin(["6C1RD7YQVvt3YQj0CmuTeu",
                                           "1RijmOnza5p9CzaFKr8W1Y", 
                                           "278kSqsZIiYp8p3QjYAqa8", 
                                           "42FWqCxAw5aG1FvjyVjIlH", 
                                           "0EhpEsp4L0oRGM0vmeaN5e", 
                                           "2iIRl5jf9beA2ExZWzn2nt"])]

ModelPlaylist3 = ModelPlaylist3[['duration_ms', 'artists', 'name']]
ModelPlaylist3['true_relevence'] = [5,2,0,4,4,4] # Higher score means more relevence

ModelPlaylist3

,duration_ms,artists,name,true_relevence
18989,286041,"['Bad Bunny', 'Ozuna', 'Farruko', 'Arcangel', ...",Diles,5
19672,232253,"['J Balvin', 'Tainy', 'Dua Lipa', 'Bad Bunny']",UN DIA (ONE DAY) (Feat. Tainy),2
27927,207680,['The Beatles'],Lucy In The Sky With Diamonds - Remix,0
38078,236216,['Bad Bunny'],NI BIEN NI MAL,4
140205,315847,"['Bad Bunny', 'J Balvin', 'Ozuna', 'Arcangel']",Soy Peor - Remix,4
155116,275693,"['Darell', 'Casper Magico', 'Nio Garcia', 'Nic...",Te Boté,4

### Test Data 4: Input Song is Piano Man

In [44]:
# Test Data 4 - Input Song is Piano Man

inputSong4 = data.loc[data['id'] == "70C4NyhjD5OZUMzvWZ3njJ"]
inputSong4 = inputSong4[['duration_ms', 'artists', 'name']]

# The "database" that the System will choose from
ModelPlaylist4 = data.loc[data['id'].isin(["70C4NyhjD5OZUMzvWZ3njJ",
                                           "4U45aEWtQhrm8A5mxPaFZ7", 
                                           "1xOXXYh6lTW8laxlW7JP2J", 
                                           "6ByRaaLxtbMFyIzQob2nDT", 
                                           "3utq2FgD1pkmIoaWfjXWAU"])]

ModelPlaylist4 = ModelPlaylist4[['duration_ms', 'artists', 'name']]
ModelPlaylist4['true_relevence'] = [5,4,3,1,2] #Higher score means more relevence

ModelPlaylist4

,duration_ms,artists,name,true_relevence
10211,339000,['Billy Joel'],Piano Man,5
11012,214240,['Billy Joel'],Vienna,4
11027,235560,['Billy Joel'],Only the Good Die Young,3
11063,456893,['Billy Joel'],Scenes from an Italian Restaurant,1
11154,310507,['Billy Joel'],The Stranger,2

## Getting Recommendations (Cosine Similarity)

In [45]:
def get_recommendations(inputSong, ModelPlaylist):
    # Not changing the raw data. Just using most of the given numerical columns (look at the original "data" variable)

    recommended_sim = ModelPlaylist.copy()
    nparray_sim = cosine_similarity(inputSong.drop(['name', 'artists'], axis = 1).values, ModelPlaylist.drop(['name', 'artists', "true_relevence"], axis = 1).values)

    # Ordering the recommended songs from most to least
    recommended_sim['sim'] = nparray_sim.tolist()[0]
    recommended_sim_songs = recommended_sim.sort_values('sim',ascending = False)
    
    return recommended_sim_songs

In [46]:
# Get the recommended songs for our test data
song1_recommended = get_recommendations(inputSong1, ModelPlaylist1)
song2_recommended = get_recommendations(inputSong2, ModelPlaylist2)
song3_recommended = get_recommendations(inputSong3, ModelPlaylist3)
song4_recommended = get_recommendations(inputSong4, ModelPlaylist4)

In [47]:
# The score is between 0 to 1. Where 1 is the best ranking possible
calculate_avg_ndcg([song1_recommended, song2_recommended, song3_recommended, song4_recommended],
               [[4, 3, 2, 1, 0], [4, 3, 3, 2, 0, 0], [5, 4, 4, 4, 2, 0], [5, 4, 3, 2, 1]])

0.888489471143717

In [48]:
display("TEST DATA 1 OUTPUT:", song1_recommended)
display("TEST DATA 2 OUTPUT:", song2_recommended)
display("TEST DATA 3 OUTPUT:", song3_recommended)
display("TEST DATA 4 OUTPUT:", song4_recommended)

'TEST DATA 1 OUTPUT:'

       duration_ms            artists           name  true_relevence  sim
17048       243440     ['Kanye West']       I Wonder               1  1.0
18725       246972  ['Daniel Caesar']      Streetcar               3  1.0
36134       189907     ['Kanye West']  Street Lights               4  1.0
37189       256093     ['Kanye West']     New Slaves               0  1.0
54820       274360     ['Kanye West']        RoboCop               2  1.0

'TEST DATA 2 OUTPUT:'

,duration_ms,artists,name,true_relevence,sim
18255,188013,['Kanye West'],Black Skinhead,0,1.0
18863,320680,['Kanye West'],Ultralight Beam,4,1.0
37189,256093,['Kanye West'],New Slaves,0,1.0
56506,203794,"['Chance the Rapper', 'Kanye West', ""Chicago C...",All We Got (feat. Kanye West & Chicago Childre...,3,1.0
124601,213878,"['Kanye West', 'Clipse', 'Kenny G']",Use This Gospel,3,1.0
152590,193733,['Kanye West'],Jesus Walks,2,1.0

'TEST DATA 3 OUTPUT:'

,duration_ms,artists,name,true_relevence,sim
18989,286041,"['Bad Bunny', 'Ozuna', 'Farruko', 'Arcangel', ...",Diles,5,1.0
19672,232253,"['J Balvin', 'Tainy', 'Dua Lipa', 'Bad Bunny']",UN DIA (ONE DAY) (Feat. Tainy),2,1.0
27927,207680,['The Beatles'],Lucy In The Sky With Diamonds - Remix,0,1.0
38078,236216,['Bad Bunny'],NI BIEN NI MAL,4,1.0
140205,315847,"['Bad Bunny', 'J Balvin', 'Ozuna', 'Arcangel']",Soy Peor - Remix,4,1.0
155116,275693,"['Darell', 'Casper Magico', 'Nio Garcia', 'Nic...",Te Boté,4,1.0

'TEST DATA 4 OUTPUT:'

,duration_ms,artists,name,true_relevence,sim
10211,339000,['Billy Joel'],Piano Man,5,1.0
11012,214240,['Billy Joel'],Vienna,4,1.0
11027,235560,['Billy Joel'],Only the Good Die Young,3,1.0
11063,456893,['Billy Joel'],Scenes from an Italian Restaurant,1,1.0
11154,310507,['Billy Joel'],The Stranger,2,1.0